body{
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

textarea {
  width:auto;
}

table, tr, td {
	border: 1px solid #F2F2F2;
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 11px;
}

table {
	border-collapse: collapse;
}

h4 {
	margin: 0px;
	padding: 0px;
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

#script_text {
  height: 50em;
}
